<div class="d-flex justify-content-center">
<a class="btn btn-primary"href="/games/{{game}}/event/new">Add Event</a>
</div>
  <div id="post-carousel" class="carousel slide" data-bs-ride="false">
    
    <div class="carousel-inner ">
    </div>
      <!-- have to init carousel with active class -->
      <div class="carousel-item active"></div>
      {{#each events}}
        <div class="carousel-item">   
          <div class="card text-center container">
            <div class="row">
              <div class="card-body col-md-8">
                <h5 class="card-title fw-bold">{{this.title}}</h5>
                <p class="fw-bolder">Description:</p>
                <p class="card-text">{{this.description}}</p>
                <p class="fw-bolder">Number of players:</p>
                <p class="card-text">{{this.players}}</p>
              </div>
            </div>
          </div>
        </div>  
      {{/each}} 
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#post-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#post-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>