<div class="row mt-4">
  <div class="col-lg-6 offset-lg-3">
    <h1>Games</h1>
    <a class="btn btn-primary"href="/new/game">Add Game</a>
    {{#each games}}
    <div class="card mb-5" style="width: 18rem;">
      <img src="{{this.imgUrl}}" class="card-img-top img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <a href="/games/{{this.id}}" class="btn btn-primary stretched-link"></a>
      </div>
    </div>
    {{/each}}
  </div>
</div>